*.bmp
*.BMP
*.psd
*.PSD
*.tif
*.TIF
*.tiff
*.TIFF
*.pdf
*.PDF
*.ttf
*.TTF
*.ZIP
*.zip
*.rtf
*.png
*.dds
# Unity project files
obj
Temp
*.suo
*.user
*.pidb
*.userprefs
# Unity files
Library/
bin/
*.csproj
*.sln
